thead {
    background-color: #ff6700;
}

thead th {
    font-size: 16px;
    color: #fff;
}

tbody th {
    font-weight: normal;
}

#admin_header {
    background-color: #ff6700;
}

#admin_header .admin_header {
    margin: auto;
}

#admin_header .admin_header a {
    font-size: 18px;
    margin: 0 0;
}

#admin_header .admin_header i {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}

#admin_body {
    margin: auto;
}

#admin_body a {
    background-color: #ffa500;
    padding: 20px 10px;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

#admin_body a:hover {
    color: #000;
    cursor: pointer;
}

#admin_body a.active,
#admin_body a.active i {
    background-color: #ff6700;
    color: #000;
}

#admin_body i {
    color: #fff;
    font-size: 20px;
}

#admin_body .card-header {
    font-size: 25px;
    font-weight: bold;
    color: #ff6700;
}

#admin_body .flex-column {
    position: sticky;
    top: 0;
}

